h1, form{
	text-align: center;
}

#noFilter{
	margin: 20px auto;
	display: block;
}

.searchErr{
	color: red;
	font-weight: bold;
	text-align: center;
	display: none;
}

img{
	border-radius: 150px;
	margin: 20px;
	box-shadow: 3px 3px 10px 5px
}

a{
	text-decoration: none;
}


